body::before {
  content: "";
  display: block;
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0c8dd8;
  font-weight: 600;
}

.form-group {
  display: flex;
  padding: 0;
}
.form-group label {
  padding-left: 10px;
}

input,
select {
  margin-bottom: 12px;
}

.footer p {
  font-size: 14px;
}
.footer a {
  color: #d5f3d6;
  font-size: 15px;
  /* font-weight: bold; */
}

#learn {
  margin-bottom: 60px;
  border-radius: 8px;
}

/* Start Navbar */

.navbar,
.footer {
  background-color: rgb(18, 94, 104); /* rgb(10, 97, 109);  rgb(2, 89, 160);*/
  color: #fff;
}

.site-logo {
  height: 35px;
}
.logo-text {
  color: #feffff;
  font-weight: 600;
}

.topnav a {
  /* float: left; */
  display: block;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  background-color: #cc5d41;
  border-bottom: 3px solid rgb(248, 183, 152);
  color: #f9faf8;
}
.deposer {
  cursor: pointer;
}
.deposer:hover,
.logout:hover {
  background-color: #3e4bbb;
}

#performAction {
  /* margin-left: 10px; */
  margin-right: 10px;
  margin-bottom: 10px;
}

.deposer,
.logout,
.gauche,
.nav-link {
  /* background-color: #cd5c5c; */
  color: #fff;
  /* padding: 8px; */
  border-radius: 6px;
  /* border: 1px solid white; */
  margin-bottom: 10px;
}

.nav-link {
  margin-right: 10px;
  width: 100px;
}

.navbar-toggler {
  color: #ccc;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.navbar-toggler-icon {
  color: #fff;
}

/*
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}*/

/* End NavBar */

/* Start Login Page */
/* .login-page, */
.reset-password {
  width: 38%;
  margin: 100px auto;
  margin-top: 60px;
  border-radius: 20px;
  box-shadow: 0px 6px 6px #ccc;
}
.signin-page {
  width: 38%;
  margin: 100px auto;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 0px 6px 6px #ccc;
}

.reset-password {
  width: 38%;
  margin: 100px auto;
  margin-top: 40px;
  border-radius: 6px;
  box-shadow: 0px 6px 6px #ccc;
}

.messagerie {
  width: 50%;
  margin-bottom: 20px;
}

.mon-logo {
  box-shadow: 2px 4px 6px #ccc;
  font-size: 35px;
  text-align: center;
  height: 20px;
}

.mon-logo .logo {
  position: relative;
  top: -44px;
}

.mon-logo span {
  color: rgb(226, 116, 104);
  /* justify-content: center; */
}

.login-page h5,
.signin-page h5 .reset-password {
  color: #4d4b4b;
  margin: 20px;
}

.login-page input,
.signin-page input,
.reset-password {
  margin-bottom: 15px;
  padding: 8px;
  /* font-size: 18px; */
}

.login-page span {
  margin-bottom: 30px;
}

/* .login-page .btn, .signin-page .btn {
  background-color: #1986c5;
}

.login-page .btn:hover, .signin-page .btn:hover {
  background-color: #44a0d4;
} */

.mot-secret {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

/* End Login Page*/

/* Start Index Page*/
.by-category {
  background-color: #5a93b4;
  color: #fff;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}

.by-category .vehicule {
  display: block;
  width: 160px;
  justify-content: center;
}

.panel-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .message {
  position: absolute;
  top: 120px;
  right: 90px;
} */

/* SEARCH BAR */
.search {
  width: 80%;
}

.index-design {
  border: 1px solid #d6e8e9;
  background-color: #ebf4f7;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  /* border-radius: 6px; */
  margin-bottom: 30px;
}

.index-annonces {
  border: 1px solid #d6e8e9;
  background-color: #fff;
  /* display: flex; */
  width: 180px;
  margin: 5px;
}

.index-annonces .title,
.sub-title,
.date {
  /* color: #fff; */
  padding: 0;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#learn .container {
  /* border: 1px solid  #d40e0e; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#learn .row {
  border-top: 8px solid #065f35;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 0 5px #647b86;
  width: 550px;
  margin-bottom: 10px; /*this work in Small screen*/
}
/* .paragraph {
  border: 1px solid rgb(62, 207, 86);
  width: 95%;
} */
.paragraph h2 {
  color: #cd5c5c;
}
.paragraph p {
  color: #3d85f1;
  font-size: 15px;
  font-weight: 500;
}
/* End Index Page*/

/* Start Home Page*/
.home-design {
  border: 2px solid #ccc;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 6px;
  margin-bottom: 30px;
}

.home-design .home-annonces {
  border: 1px solid #c74d4d;
  border-radius: 6px;
  width: 200px;
  margin: 5px;
  padding: 5px;
}
.home-design .home-annonces .photo {
  margin-right: 10px;
}
.home-design .home-annonces .annone_desc {
  /* border: 1px solid black; */
  padding: 2px;
  /* margin-top: 10px; */
  margin-bottom: 5px;
  width: 190px;
}

.btn-edition,
.btn-details {
  background-color: #5a93b4;
  padding: 2px 15px;
  color: #fff;
  margin-top: 10px;
  border-radius: 10px;
}
.btn-delete {
  padding: 2px 20px;
  border-radius: 10px;
  font-weight: 500;
}
/* End Home Page*/

/* Start Annonce Page */
.title {
  color: #1b3377;
}

.annonce-designes {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.annonce-designes .titre {
  margin-right: 10px;
}

.all-annonce .image-part {
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  display: flex;
  margin: 5px;
  padding: 5px;
  margin-bottom: 20px;
}
.all-annonce .image-part .photo {
  margin-right: 10px;
}
.all-annonce .image-part .annone_desc {
  margin-top: 20px;
}

/* .annonce-groupe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */
.parti-form {
  border: 1px solid red;
  /* width: 60%; */
  /* margin-bottom: 30px; */
}

/* .explications {
  border: 1px solid red;
  /* width: 400px; 
  padding: 10px;
  margin-bottom: 30px;
} */

/* .edit-annonce {
  width: 60px;
  margin: 0 126px;
} */

/* End Annonce Page*/

/* StaRt Details Page */

.slide-container {
  border: 2px solid #ccc;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -19px;
  position: relative;
  width: 670px;
}

.slide-container .img {
  width: 100%;
}
.deitails-thumbnails {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.thumbnail {
  width: 120px;
  cursor: pointer;
  opacity: 0.5;
}
.thumbnail img {
  width: 100%;
}
.thumbnail:hover {
  opacity: 1;
}

.Active {
  opacity: 1;
  border: 3px solid #ccc;
}

#prev,
#next {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 60%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

#next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
  background-color: rgba(78, 78, 77, 0.8);
}

/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
} */

.parti-bas {
  /* border: 2px solid #ccc; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
.parti-bas .desc-part {
  border: 2px solid #ccc;
  /* width: 50%; */
}
.parti-bas .details-part {
  border: 2px solid #ccc;
  /* width: 40%; */
  padding: 10px;
}
.prix {
  color: #ad4328;
}

.desc-part .desc {
  background-color: #ebe6eb;

  width: 80%;
}
.desc span {
  color: #1b3377;
  font-weight: bold;
}

.details-part .member {
  /* border: 2px solid #d12525; */
  position: relative;
  width: 80%;
  height: 80px;
  margin-bottom: 30px;
}
.details-avatar {
  position: absolute;
  left: 10px;
  top: 8px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  background-color: #1b3377;
  color: #fff;
  padding: 13px 11px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.details-name {
  position: absolute;
  right: 80px;
  top: 6px;
}
/* End Details Page */

/* Start Profile Page*/
.user-details {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin-top: 20px;
}

.user-details .member {
  /* border: 2px solid  #ccc; */
  position: relative;
  width: 160px;
  height: 80px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.profil-avatar {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  background-color: #1b3377;
  color: #fff;
  padding: 12px 13px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profil-name {
  position: absolute;
  right: 0px;
  top: 15px;
  /* width: 200px; */
}

.count {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 500;
  color: #494848;
  margin-left: 5px;
}

/* End Profile Page*/

/* Start Edition Page */
.edit-photo {
  border: 1px solid white;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.edit-designes {
  position: relative;
}

.edit-button {
  width: 60%;
}
/* End Edition Page*/

/* Start Details Page */

.deitails-design {
  border: 1px solid #d6e8e9;
  background-color: #ebf4f7;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  /* border-radius: 6px; */
  margin-bottom: 30px;
}

.annonce-designes,
.edit-designes,
.designes {
  height: 80px;
  margin-top: 30px;
}

/* .edit-designes .droite {
  position: absolute;
  top: 20px;
  right: 5px;
} */

.edit-designes .droite {
  width: 60px;
  display: flex;
  justify-content: flex-end; /* Aligns child elements to the right */
  gap: 5px; /* Adds spacing between child elements */
}

.edit-designes .droite .counts {
  background-color: #ad4328;
  /* float: right; */
  /* margin-right: 25px; */
  font-size: 40px;
  font-weight: bold;
  color: #ccc;
}

.deitails-thumbnails,
.annonce-designes,
.edit-design,
.edit-designes {
  /* width: 90%; */
  /* margin: auto; */
  margin-top: 20px;
  padding: 30px 10px;
  color: #fff;
  background-color: cadetblue;
  border-radius: 2px;
  margin-bottom: 20px;
}

img {
  margin-right: auto;
  margin-left: auto;
}

.img {
  width: 90%;
  /* border-radius: 4px; */
}

.formdesign .slick-prev,
.formdesign .slick-next {
  background-color: #419287;
  color: #ccc;
}

/* ALERT MODAL MESSAGE */
.unmodel {
  position: relative;
  width: 100%;
  background-color: rgb(196, 28, 28);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  height: 100px;
  padding: 15px;
  margin-top: 10px;
}
#close1 {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #fff;
  cursor: pointer;
  top: 2px;
  right: 4px;
}
/* END MESSAGE*/

/* START MODEL */
.full-screen {
  position: relative;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: absolute;
  left: 1px;
  top: 60px;
  width: 99.8%;
  height: 85%;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* END FULL MODAL */

/* Bootstrap Focus*/
/* .form-groupe:focus, select:focus{
  box-shadow: none;
}
textarea {
  border: none; 
  background-color: transparent;
  resize: none;
  outline: none;
} */

select:valid:focus,
.form-groupe:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #6debda;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(136, 212, 121, 0.6);
  outline: 0 none;
  outline: none !important;
}

/* End Bootstrap*/

.navbar .nav-item a {
  padding-right: 25px;
  padding-left: 25px;
}

@media screen and (max-width: 414px) {
  /* INDEX CATEGORIES */
  .by-category {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 400;
  }

  /* INDEX ANNONCES */
  .index-design .index-annonces {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }

  .index-design .index-annonces .photo {
    width: 60%;
  }

  .index-design .index-annonces .index_desc {
    width: 180px;
  }

  /*Details Pages*/
  .details-part .member {
    width: 100%;

    margin-bottom: 20px;
  }

  /* FOOTER */
  .footer p {
    font-size: 12px;
  }
  .footer a {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  .search {
    width: 100%;
  }

  .nav-link {
    width: 100%;
  }

  /* .login-page,
  .signin-page,
  .reset-password {
    width: 80%;
  } */

  .form-group {
    display: block;
    padding: 0;
  }

  .image-part {
    width: 80%;
    height: 50%;
  }
  .img {
    width: 90%;
  }
  .messagerie {
    width: 100%;
  }

  /* Annone page*/
  /* .parti-form,
  .explications {
    width: 100%;
  } */
  /* End Annonce Page*/

  /* Start Details Page */
  .user-details .member {
    width: 45%;
  }
  .slide-container {
    width: 100%;
  }
  .large-image .img {
    height: 250px;
  }
  .prev,
  .next {
    font-size: 12px;
  }

  .deitails-thumbnails {
    width: 100%;
  }

  .thumbnail .img {
    width: 90%;
  }

  .parti-bas .desc-part {
    width: 100%;
  }
  .parti-bas .details-part {
    width: 100%;
  }
  /* End Details Page */

  .index-annonces {
    /* width: 60%; */
    font-size: 10px;
  }
  .index-annonces h5,
  h6 {
    font-size: 14px;
  }

  /* .profil-avatar {
    width: 40px;
    height: 45px;
    border-radius: 60%;
  } */
}
